
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <head>
    <meta charset="utf-8" />
    <title>Fake Algoan Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .button-group {
        text-align: center;
        margin-top: 50px;
      }
      .redirect-button {
        cursor: pointer;
        padding: 20px;
        border: none;
        outline: none;
        background: #003d4b;
        font-weight: bold;
        color: white;
        font-size: 16px;
        display: block;
        margin: auto;
        margin-bottom: 30px;
        width: 290px;
        max-width: 90%;
      }
      .column {
        width: 50%;
        padding: 5px;
      }
      html, body {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="align-middle" src="https://media.licdn.com/dms/image/C4E0BAQH-hIlc5g9g7w/company-logo_200_200/0?e=2159024400&v=beta&t=j5y9KO1P22GsMx3vBNawrpvyvjD2iyBWGeVPUsRkn5s" width="320" alt="Algoan Logo" />
        </div>
        <div class="col">
          <img class="align-middle" src="https://www.canton-consulting.com/wp-content/uploads/2017/07/Logo-Budgea.png" width="320" alt="BI Logo" />
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary redirect-button" id="bi-redirection" onclick="onButtonClick()">Launch BI redirection process</button>
        <button type="button" class="btn btn-primary redirect-button" id="redirect-to-bi" onclick="redirectUser()">Redirect to BI</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>
      let banksUserId;
      if (localStorage.getItem('banksUserId') && '{{ code }}' !== '') {
        const payload = {
          banksUserId: localStorage.getItem('banksUserId'),
          temporaryCode: '{{ code }}',
        };
        axios.post('{{ bankreaderRequiredSubscription.target }}', {
          payload,
          subscription: {
            id: '{{ bankreaderRequiredSubscription.id }}',
            target: '{{ bankreaderRequiredSubscription.target }}',
            eventName: '{{ bankreaderRequiredSubscription.eventName }}',
            status: '{{ bankreaderRequiredSubscription.status }}'
          },
          time: Date.now(),
          index: Math.floor(Math.random() * 100),
          id: makeid(12),
        }, {
          headers: {
            'x-hub-signature': CryptoJS.HmacSHA256(JSON.stringify(payload), '{{ bankreaderRequiredSubscription.secret }}').toString()
          }
        });

        localStorage.removeItem('banksUserId');
      }

      function onButtonClick() {
        /**
         * Create a new banks user
         */
        return axios.post('{{ algoanBaseUrl }}' + '/v1/banks-users', {
          callbackUrl: '{{ callbackUrl }}',
        }, {
          headers: {
            'Authorization': '{{token}}',
          }
        })
        .then(function(response) {
          localStorage.setItem('banksUserId', response.data.id);
          banksUserId = response.data.id;
          const payload = {
            banksUserId,
          };
          return axios.post('{{ subscription.target }}', {
            payload,
            subscription: {
              id: '{{ subscription.id }}',
              target: '{{ subscription.target }}',
              eventName: '{{ subscription.eventName }}',
              status: '{{ subscription.status }}'
            },
            time: Date.now(),
            index: Math.floor(Math.random() * 100),
            id: makeid(12),
          }, {
            headers: {
              'x-hub-signature': CryptoJS.HmacSHA256(JSON.stringify(payload), '{{ subscription.secret }}').toString()
            }
          });
        });
      }

      function redirectUser() {
        return axios.get('{{ algoanBaseUrl }}' + '/v1/banks-users/' + banksUserId, {
          headers: {
            'Authorization': '{{token}}',
          }
        })
        .then(function(response) {
          if (response.data.redirectUrl === undefined) {
            alert('No redirect URL found in the Banks User! Please check the "bankreader_link_required" handler');
            return;
          }
          window.location.href = response.data.redirectUrl;
        });
      }

      function makeid(length) {
        let result = '';
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
      }
    </script>
  </body>
</html>